@model Backgammon.Nyc.Models.HomeModel

<div class="jumbotron">
    <h1>Backgammon.nyc</h1>
    <p class="lead">This is just a test page to see current games, view game state (debug) and delete games.</p>
    <p><a href="https://backgammon.nyc" class="btn btn-primary btn-lg">Play now&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Active games</h2>
        @foreach (var g in Model.Games)
        {
            @Html.ActionLink(g.Code, "Game", "")
        }

        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
